atom-panel.modal .select-list.fuzzy-finder ol.list-group li {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.2em 0.5em;

    > .file {
        width: 100%;
    }

    > .path {
        width: 100%;
    }

    > .status {
        margin: 0;
    }
}
