atom-panel.modal {
  padding: 0;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.3);
  border: 0;

  &.from-top {
    top: 10%;
  }
}

atom-panel.modal atom-text-editor[mini] {
  margin-bottom: 2px;
  margin-top: 3px;
  padding: 0;
  border-radius: 0;
}

atom-text-editor[mini].is-focused,
atom-text-editor[mini].is-focused.editor {
  box-shadow: 0;
}
