// Tabs
// -------------------
// Displays selectable tabs above the editor.
// Overrides: atom/tabs

.tab-bar {
  background-color: @tab-bar-background-color;
  border-bottom: 0;

  .tab {
    color: @text-color;
    height: @tab-height;
    line-height: @tab-height;
    font-size: @font-size - 1;
    border-right: 1px solid @tab-border-color;
    background-color: @tab-background-color;
    text-align: center;

    &.active {
      color: @text-color-selected;
      background-color: @tab-background-color-active;
    }

    &.modified {
      font-style: italic;
      border-bottom: 1px dotted @text-color;
    }

    .close-icon {
      display: none;
    }
    // Dragging -------------------
    // Styles get applied while dragging a tab
    &.is-dragging {
      background: darken(@tab-background-color, 10%);
      border-color: transparent;
      opacity: 0.5;

      & .close-icon {
        visibility: hidden;
      }
    }
  }
}
